name: Keep Render Alive

on:
  schedule:
    - cron: "*/2 * * * *"   # Her 2 dakikada bir çalışır
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: curl -s https://arifeminkoklu-portfolio-api.onrender.com > /dev/null
